body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f3c3c3;
}

.App {
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 3rem;
  color: #1d1d42;
  margin-bottom: 10px;
}

.card-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
}
